<!DOCTYPE html>



<html>
    <head>
        <link rel="stylesheet" href="/static/css/style_pingdom.css">
    </head>
    <body>
        <div id="topwrapper">
            <div class="top">
                <div id="pinglogo">
                    <a href="#">VCCloud</a>
                </div>
            </div>
        </div>
        <div id="controlwrapper">
            <div id="control">
                <h1>Vccloud Website Speed Test</h1>
                <h3>Enter a URL to test the load time of that page, analyze it and find bottlenecks</h3>
                <div id="testingbox">

                    <form id="urlform">
                        <input name="testurl" tabindex="1" type="text" id="urlinput" placeholder="www.example.com">
                        <button class="large TestButt" tabindex="2">Test Now</button>
                    </form>
                </div>

                <div id="summary">
                    <div id="sumleft">
                        <!--<span>-->
                            <!--<img src="http://tools.pingdom.com/fpt/_img/loader-screenshot.gif">-->
                        <!--</span>-->
                        <a href="#" id="screenshot-link" class="cboxElement">
                            <img src="http://api.fpt.pingdom.com/api/0.1/test/d4opts/screenshot?size=thumb" width="150px" height="113px" class="screenshot">
                        </a>

                        <a class="small TestButt" style="margin-top: 12px;" href="#">Download Har</a>
                    </div>

                    <div id="sumright" style="display: block;">
                        <h4>http://vnexpress.net</h4>
                        <p>Tested from HaNoi, Vietnam on April 25 at 15:51:03</p>
                        <div id="rt_sumright">
                            <dl class="first">
                                <dt>Page size</dt>
                                <dd>
                                    "3,2"<span>MB</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Load time</dt>
                                <dd>8.16<span>s</span></dd>
                            </dl>
                            <dl>
                                <dt>Requests</dt>
                                <dd>227</dd>
                            </dl>
                            <dl class="last">
                                <dt>Perf. grade</dt>
                                <dd>83<span>/100</span></dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div id="summary">
                    <div id="sumleft">
                        <!--<span>-->
                            <!--<img src="http://tools.pingdom.com/fpt/_img/loader-screenshot.gif">-->
                        <!--</span>-->
                        <a href="#" id="screenshot-link" class="cboxElement">
                            <img src="http://api.fpt.pingdom.com/api/0.1/test/d4opts/screenshot?size=thumb" width="150px" height="113px" class="screenshot">
                        </a>

                        <a class="small TestButt" style="margin-top: 12px;" href="#">Download Har</a>
                    </div>

                    <div id="sumright" style="display: block;">
                        <h4>http://vnexpress.net</h4>
                        <p>Tested from HaNoi, Vietnam on April 25 at 15:51:03</p>
                        <div id="rt_sumright">
                            <dl class="first">
                                <dt>Page size</dt>
                                <dd>
                                    "3,2"<span>MB</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Load time</dt>
                                <dd>8.16<span>s</span></dd>
                            </dl>
                            <dl>
                                <dt>Requests</dt>
                                <dd>227</dd>
                            </dl>
                            <dl class="last">
                                <dt>Perf. grade</dt>
                                <dd>83<span>/100</span></dd>
                            </dl>
                        </div>
                    </div>
                 </div>


                <div id="testmenu">
                    <ul id="navigation">
                        <li class="one selected"><a href="#">Page Speed</a></li>
                        <li class="two"><a href="#">YSlow</a></li>
                        <li class="three"><a href="#">Timeline</a></li>
                        <li class="four"><a href="#">Graphs</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="content-wrapper clear">
            <div class="tab-panes box">
                <!--pagespeed-->
                <div id="report-pagespeed">
                    <table class="compare-rules">
                        <tbody>
                            <tr class="odd">
                                <td class="rules-name">Avoid a character set in the meta tag</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                            <tr class="even">
                                <td class="rules-name">Avoid bad requests</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                        <tr class="odd">
                                <td class="rules-name">Avoid a character set in the meta tag</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                            <tr class="even">
                                <td class="rules-name">Avoid bad requests</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                        <tr class="odd">
                                <td class="rules-name">Avoid a character set in the meta tag</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                            <tr class="even">
                                <td class="rules-name">Avoid bad requests</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                        <tr class="odd">
                                <td class="rules-name">Avoid a character set in the meta tag</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                            <tr class="even">
                                <td class="rules-name">Avoid bad requests</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                        <tr class="odd">
                                <td class="rules-name">Avoid a character set in the meta tag</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                            <tr class="even">
                                <td class="rules-name">Avoid bad requests</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                        <tr class="odd">
                                <td class="rules-name">Avoid a character set in the meta tag</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                            <tr class="even">
                                <td class="rules-name">Avoid bad requests</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                        <tr class="odd">
                                <td class="rules-name">Avoid a character set in the meta tag</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                            <tr class="even">
                                <td class="rules-name">Avoid bad requests</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                        <tr class="odd">
                                <td class="rules-name">Avoid a character set in the meta tag</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>
                            <tr class="even">
                                <td class="rules-name">Avoid bad requests</td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                                <td class="rules-grade"><div class="compare-grade">A (100)</div></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="fcolwrapper">
                <div class="fcol">
                    <h3>About VCCloud</h3>

                    <p>VCCloud offers cost-effective and reliable server, network and website monitoring. We use a global
                        network of servers to monitor our customers' sites 24/7, all year long. The service includes statistics
                        for uptime and response time, and can send out alerts via SMS, email, and more.</p>

                    <p><a href="http://powerup.vccloud.vn">VCCloud - Website Monitoring</a></p>
                </div>
                <div class="fcol fcolmiddle">
                    <h3>Follow VCCloud</h3>
                </div>
                <div class="fcol">
                    <h3>VCCloud Tools on your website</h3>

                    <p>If you like VCCloud Tools you can include a banner on your website that lets all your visitors use it.
                        You add it with just a few lines of HTML code. The VCCloud Tools banner is available on our "Link to us" page.</p>
                </div>
                <br class="clear">
            </div>
            <div id="footerlogo">
                <a href="http://powerup.vccloud.vn">
                    <img src="http://adi.vcmedia.vn/logo/runbyvcc.v.png" width="134" height="55">
                </a>
            </div>
            <p id="copyright">Copyright © 2013-2014 <a href="http://powerup.vccloud.vn">VCCloud</a></p>
        </div>
    </body>
</html>
