<table class="compare-rules compare-2rules">
    <tbody id="table_pagespeed">
        <tr class="odd">
            <td class="rules-name">Minify HTML</td>

            <td class="rules-grade">
                <div class="compare-grade">Hoanghh</div>
            </td>

            <td class="rules-grade">
                <div class="compare-grade">Hoanghh1234</div>
            </td>

        </tr>



        <tr class="even">
            <td class="rules-name">Enable gzip compression</td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Minify CSS</td>
        </tr>
        <tr class="even">
            <td class="rules-name">Leverage browser caching</td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Avoid landing page redirects</td>
        </tr>
        <tr class="even">
            <td class="rules-name">Optimize images</td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Minify JavaScript</td>
        </tr>
    </tbody>
</table>
