body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 1em;
}

#topwrapper {
    background: #000;
    height: 111px;
}

.top {
    margin: 0 auto;
    width: 950px;
    height: 100%;
}

#pinglogo {
    background: url('http://adi.vcmedia.vn/logo/runbyvcc.v.png');
    float: left;
    margin-top: 20px;
    height: 55px;
    width: 140px;
}

#pinglogo a {
    display: block;
    height: 55px;
    width: 200px;
    text-indent: -5000px;
}

#controlwrapper {
    background: #fed93c;
    background: -moz-linear-gradient(top, #fed93c 0%, #f7a502 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed93c), color-stop(100%,#f7a502));
    background: -webkit-linear-gradient(top, #fed93c 0%,#f7a502 100%);
    background: -o-linear-gradient(top, #fed93c 0%,#f7a502 100%);
    background: linear-gradient(top, #fed93c 0%,#f7a502 100%);
}

#control {
    margin: 0 auto;
padding: 50px 0 30px 0;
width: 600px;
}

#control h1 {
    font-size: 2.3em;
    letter-spacing: -1px;
    margin: 0;
    text-align: center;
    text-shadow: 0 1px 0 #FFE98F;
}

#control h3 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    text-align: center;
    text-shadow: 0 1px 0 #FFE98F;
}

#testingbox {
     background: #fdde60;
    margin: 15px 0 0 0;
    padding: 15px;
    border-width: 1px;
    border-color: #fde18b;
    border-style: solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ffda54;
    background: -moz-linear-gradient(top, #ffda54 20%, #fac935 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffda54), color-stop(80%,#fac935));
    background: -webkit-linear-gradient(top, #ffda54 20%,#fac935 80%);
    background: -o-linear-gradient(top, #ffda54 20%,#fac935 80%);
    background: linear-gradient(top, #ffda54 20%,#fac935 80%);
}

#urlinput {
    background: #fff;
    height: 50px;
    outline: none;
    width: 400px;
    padding: 0 0 0 10px;
    font-size: 1.3em;
    font-family: Helvetica, Arial;
    color: #999;
    margin: 0 0 20px 0;
    border: 0;
    -webkit-box-shadow: 0px 0px 2px 1px #e5bb2c;
    -moz-box-shadow: 0px 0px 2px 1px #e5bb2c;
    box-shadow: 0px 0px 2px 1px #e5bb2c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

button {
    border: none;
}

button.large.TestButt {
    padding: 13px 21px;
    font-family: Arial, Helvetica, sans-serif;
}

.large.TestButt {
    font-size: 20px;
}

.TestButt {
    background: #111 url(http://tools.pingdom.com/fpt/_img/alert-overlay.png) repeat-x;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    float: right;
    outline: none;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    cursor: pointer;
}

#summary {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    height: 170px;
    position: relative;
    padding: 15px;
    color: #fff;
    margin-top: 30px;
    background: -moz-linear-gradient(top, #333333 30%, #000000 90%);
    background: -webkit-linear-gradient(top, #333333 30%,#000000 90%);
    background: -o-linear-gradient(top, #333333 30%,#000000 90%);
}

#sumleft {
    width: 150px;
    float: left;
}

a.small.TestButt {
    color: #ffffff;
}

.small.TestButt {
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 24px 10px;
}

#sumright {
    float: left;
    margin-left: 15px;
    width: 404px;
}

#sumright h4 {
    margin: 0 0 1px 0;
    font-size: 1.2em;
}

#sumright p {
margin: 0 0 5px;
font-size: 0.8em;
}

#rt_sumright {
    float: left;
    margin: 0 0 5px 0;
    background: -moz-linear-gradient(top, #ffffff 30%, #cccccc 90%);
    background: -webkit-linear-gradient(top, #ffffff 30%,#cccccc 90%);
    background: -o-linear-gradient(top, #ffffff 30%,#cccccc 90%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0;
}

#rt_sumright dl.first {
    border-right: 0;
}

#rt_sumright dl {
    float: right;
    width: 99px;
    margin: 0;
    border-left: #ddd solid 1px;
    text-shadow: 0px 1px 0px #FFF;
}

#rt_sumright dt, #rt_stats dt {
    padding: 0;
    margin: 0;
    font-size: 0.7em;
    color: #666;
    text-align: center;
}

#rt_sumright dd, #rt_stats dd {
    padding: 0;
    margin: 0;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}

#testmenu {
    margin: 30px 0 -30px 0;
}

ul#navigation {
    width: 610px;
    overflow: hidden;
    list-style: none;
    margin: 0 0 0 -40px;
    font-size: 0.9em;
    cursor: pointer;
}

ul#navigation li.selected {
    z-index: 3;
}

ul#navigation li {
    float: left;
    margin: 0 3px 0 0;
    z-index: 1;
}

ul#navigation li a:link, ul#navigation li a:visited {
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
        padding: 10px 0 10px 0;
    text-align: center;
    width: 147px;
    text-decoration: none;
    color: #9f6b05;
    text-shadow: 0px 1px 0px #fee154;
    float: left;
    background: #ffe566;
    background: -moz-linear-gradient(top, #ffe566 0%, #f4d224 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe566), color-stop(50%,#f4d224));
    background: -webkit-linear-gradient(top, #ffe566 0%,#f4d224 50%);
    background: -o-linear-gradient(top, #ffe566 0%,#f4d224 50%);
    background: -ms-linear-gradient(top, #ffe566 0%,#f4d224 50%);
    background: linear-gradient(top, #ffe566 0%,#f4d224 50%);
}

ul#navigation li.selected a:link, ul#navigation li.selected a:visited {
    color: #333;
    text-shadow: 0px 1px 0px #FFF;
    -webkit-transition: background-color 0.2s linear;
    background: #ffffff;
    background: -moz-linear-gradient(top, #dddddd 0%, #ffffff 60%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(60%,#ffffff));
    background: -webkit-linear-gradient(top, #dddddd 0%,#ffffff 60%);
    background: -o-linear-gradient(top, #dddddd 0%,#ffffff 60%);
    background: -ms-linear-gradient(top, #dddddd 0%,#ffffff 60%);
    background: linear-gradient(top, #dddddd 0%,#ffffff 60%);
}

tbody {
    color: #777;
}

.content-wrapper {
    background: url(http://static.gtmetrix.com/r121/images/content.png) repeat-y top left;
    margin: 0 auto;
    padding: 25px 30px;
    width: 920px;
}

.tab-panes {

    padding: 20px 9px;
}

.box {
    /*background-color: #f6f6f6;*/
    background: #ffffff;
    /*background-image: -webkit-linear-gradient(top,#fff,#ececec);*/
    /*background-image: -webkit-gradient(linear,0%,0%,0% 100%,from(#fff),to(#ececec));*/
    /*background-image: -webkit-linear-gradient(top,#fff,#ececec);*/
    /*background-image: -moz-linear-gradient(top,#fff,#ececec);*/
    /*background-image: -ms-linear-gradient(top,#fff,#ececec);*/
    /*background-image: -o-linear-gradient(top,#fff,#ececec);*/
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
}

.compare-rules {

    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.rules-name {
    color: #666;
    font-size: 10px;
    line-height: .8em;
    text-align: right;
    padding: 4px 0 4px 10px;
    width: 210px;
}

.compare-rules .rules-grade {
    padding: 0 0 0 5px;
}

.rules-grade {

    width: 335px;
}

.compare-grade {

    padding: 4px 0;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

.odd .compare-grade {
    background-color: #f3f3f3;
}

.even .compare-grade {
    background-color: #fafafa;

}

#footer {
    clear: both;
    border-top: 5px solid #fc0;
    background: #333 url(http://tools.pingdom.com/fpt/_img/bg_333_fade.gif) repeat-x top;
    margin: 40px 0 0 0;
    padding-top: 30px;
}

#fcolwrapper {
    width: 950px;
    margin: 0 auto 15px auto;
    padding-bottom: 10px;
    border-bottom: 2px solid #444;
}

.fcol {
    width: 300px;
    float: left;
}

.fcolmiddle {
    margin: 0 25px;
}

.fcol h3 {
    color: #fc0;
    font-size: 0.8em;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
}

h3 {
    margin: 0 0 5px 0;
    color: #333;
}

.fcol p {
    margin: 0 0 10px 0;
    color: #ccc;
    font-size: 0.8em;
}

.clear {
    clear: both;
}

.fcol p a {
    color: #fff;
}

#footerlogo {
    text-align: center;
    margin: 0;
    padding: 15px;
}

#copyright {
    margin: 0;
    background: #333 url(http://tools.pingdom.com/fpt/_img/bg_333_fade.gif) repeat-x top;
    text-align: center;
    color: #999;
    font-size: 0.8em;
    padding: 3px;
}

#copyright a {
    color: #999;
}
