<div class="compare-info">
    <div style="background-image: url(../static/img/screenshot.jpg)" class="box screenshot">
        <a href="#" title="Remove from comparision" rel="Y2XyapJ4" class="compare-delete">Remove from comparision</a>
        <a href="#" title="View Report">View Report</a>
    </div>
    <a href="http://ja-biz.demo.joomlart.com/" target="_blank" rel="nofollow">http://ja-biz.demo.joomlart.com/</a>
    Sun, Mar 9, 2014 @ 9:26 AM<br>
    Firefox (Desktop) 25.0.1<br>
    Region: Vancouver, Canada<br>
</div>
<div class="compare-info">
    <div style="background-image: url(../static/img/screenshot1.jpg)" class="box screenshot">
        <a href="#" title="Remove from comparision" rel="NTDWtf5K" class="compare-delete">Remove from comparision</a>
        <a href="#" title="View Report">View Report</a></div>
    <a href="http://joomla-templates.joomlart.com/ja_biz" target="_blank" rel="nofollow">http://joomla-templates.joomlart.com/ja_biz</a>
    Mon, Mar 10, 2014 @ 1:19 AM<br>
    Firefox (Desktop) 25.0.1<br>
    Region: Vancouver, Canada<br>
</div>