<table class="compare-rules compare-2rules">
    <tbody>
        <tr class="odd">
            <td class="rules-name">Avoid a character set in the meta tag</td>
            <td class="rules-grade">
                <div class="compare-grade">A (100)</div>
            </td>
            <td class="rules-grade">
                <div class="compare-grade">A (100)</div>
            </td>
        </tr>
        <tr class="even">
            <td class="rules-name">Avoid bad requests</td>
            <td class="rules-grade">
                <div class="compare-grade">A (100)</div>
            </td>
            <td class="rules-grade">
                <div class="compare-grade">A (100)</div>
            </td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Avoid CSS @import</td>
            <td class="rules-grade">
                <div class="compare-grade">B (85)</div>
            </td>
            <td class="rules-grade">
                <div class="compare-grade">B (85)</div>
            </td>
        </tr>
        <tr class="even">
            <td class="rules-name">Avoid landing page redirects</td>
            <td class="rules-grade">
                <div class="compare-grade compare-best">A (90)</div>
            </td>
            <td class="rules-grade">
                <div class="compare-grade compare-worst">C (79)</div>
            </td>
        </tr>
    </tbody>
</table>