<table class="compare-rules compare-2rules">
    <tbody>
        <tr class="odd">
            <td class="rules-name">Add Expires headers</td>
            <td class="rules-grade">
                <div class="compare-grade compare-worst">E (56)</div>
            </td>
            <td class="rules-grade">
                <div class="compare-grade compare-best">B (89)</div>
            </td>
        </tr>
        <tr class="even">
            <td class="rules-name">Avoid AlphaImageLoader filter</td>
            <td class="rules-grade">
                <div class="compare-grade">A (100)</div>
            </td>
            <td class="rules-grade">
                <div class="compare-grade">A (100)</div>
            </td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Avoid CSS expressions</td>
            <td class="rules-grade">
                <div class="compare-grade">A (100)</div>
            </td>
            <td class="rules-grade">
                <div class="compare-grade">A (100)</div>
            </td>
        </tr>
        <tr class="even">
            <td class="rules-name">Avoid empty src or href</td>
            <td class="rules-grade">
                <div class="compare-grade">A (100)</div>
            </td>
            <td class="rules-grade">
                <div class="compare-grade">A (100)</div>
            </td>
        </tr>
    </tbody>
</table>