<table class="compare-rules compare-2rules">
    <tbody id="table_yslow">
        <tr class="odd">
            <td class="rules-name">Use cookie-free domains</td>
        </tr>
        <tr class="even">
            <td class="rules-name">Remove duplicate JavaScript and CSS</td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Avoid empty src or href</td>
        </tr>
        <tr class="even">
            <td class="rules-name">Avoid HTTP 404 (Not Found) error</td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Put JavaScript at bottom</td>
        </tr>
        <tr class="even">
            <td class="rules-name">Use GET for AJAX requests</td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Reduce the number of DOM elements</td>
        </tr>
        <tr class="even">
            <td class="rules-name">Make JavaScript and CSS external</td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Configure entity tags (ETags)</td>
        </tr>
        <tr class="even">
            <td class="rules-name">Do not scale images in HTML</td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Avoid CSS expressions</td>
        </tr>
        <tr class="even">
            <td class="rules-name">Make AJAX cacheable</td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Reduce cookie size</td>
        </tr>
        <tr class="even">
            <td class="rules-name">Make fewer HTTP requests</td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Minify JavaScript and CSS</td>
        </tr>
        <tr class="even">
            <td class="rules-name">Use a Content Delivery Network (CDN)</td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Avoid AlphaImageLoader filter</td>
        </tr>
        <tr class="even">
            <td class="rules-name">Avoid URL redirects</td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Make favicon small and cacheable</td>
        </tr>
        <tr class="even">
            <td class="rules-name">Put CSS at the top</td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Compress components with gzip</td>
        </tr>
        <tr class="even">
            <td class="rules-name">Reduce DNS lookups</td>
        </tr>
        <tr class="odd">
            <td class="rules-name">Add Expires headers</td>
        </tr>
    </tbody>
</table>